@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
}

.carousel-item {
    background: #000;

}
.carousel-item img {
    opacity: 0.5;
}

